body{
	background: #d2d2c1 url('img/fundo.png') no-repeat;
	font: 16px Arial, Helvetica, sans-serif;
}
#principal{
	width: 900px;
}
#menu{
	background: #c5c5b2;
	padding: 18px;
}
#conteudo{
	background: #e8e8d9;
	padding: 10px;
}

a{
	 color: #4b566a;
	 text-decoration: none;
	 font-weight: bold;
}

.centralizar{
	text-align: center;
}

.imgCampanhas{
	border: 10px solid #c3c3ae;
}

h1{
	color: #8e8e71;
	font-size: 1.2em;
}